:root {
    --gradient: linear-gradient(90deg,
            #39FF14,
            #88FF0C,
            #B0FF08,
            #D7FF04,
            #FFFF00);
}

body {
    color: white;
    background-color: black;
    font-family: "Press Start 2P", monospace;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
}

#win-header {
    color: rgb(192, 11, 126);
    text-shadow: 2px 2px 0 rgb(101, 241, 36);
    margin: auto;
    font-family: "Permanent Marker", monospace;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 3rem;
    text-transform: None;
}

/* THIS ANIMATION PLAYS A ROLL IN THE EFFECT I MADE FOR THE TITLE STREET DICE */
@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.title {
    margin: auto;
    font-family: "UnifrakturMaguntia", monospace;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-transform: None;
}

.main-header {
    font-size: 8rem;
}

/* AGAIN THIS IS FOR THE TITLE ANIMATION */
.title h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    background-size: 400%;
    animation: bg-animation .25s infinite alternate;
}

/* THIS IS IS FOR THE BOTTOM TEXT CREDIT , INSPIRED BY OLD VIDEO GAMES */
/* JUST A COLORWAY  */
.slatt {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#ff14bc, #fff70c, #084eff);
    -webkit-background-clip: text;
    background-size: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    margin: auto;
}

.options-choices {
    padding: 7px;
}

.snake {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    margin: auto;
    margin-bottom: 1%;
}

/* PRETTY MUCH THE COLOR UBIQITOUS THROUGHOUT THE LAYOUT */
.green-colorway {
    color: rgb(44, 226, 24);
    text-shadow: 2px 2px 0 rgb(116, 122, 117)
}

.button {
    font-size: 1.5rem;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.dieImage {
    height: 3rem;
    width: 6%;
}

/* SPIN EFFECT */
.spinImg {
    margin: 20px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

#spinButton {
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

/* NEED THIS (to change die image size)  */
.die {
    margin-bottom: 3%;
}

.MyButton {
    background: inherit;
    color: inherit;
}

.MyButton:hover,
.MyButton:focus {
    transform: scale(1.7) perspective(1px)
}

.dice-img {
    height: 60%;
    width: 12%
}